body, html {
	height: 100%;
}

body {
	background-size: cover;
	background-color: #212121;
	background-position: 100% 20%;
	font-family: Montserrat;
	text-shadow: 1px 1px 1px #212121;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

#loading-con {
	position: fixed;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	color: white;
}

#wind-loading {
	background-color: #1E88E5;
	border-radius: 50%;
}

/*CT1*/

.ct1 {
	margin-bottom: 10px;
	color: white;
}

.ct1 small {
	color: white;
}

#todays-date {
	display: inline-block;
	font-size: 1.5em;
	margin-left: 5px;
}

#location-of-sub {
	display: inline-block;
}

#timezone-of {
	display: inline-block;
	margin-left: 5px;
}

#timezone-of {
	display: none;
}

#unit-switch {
	margin-left: 10px;
}

.unit-of {
	color: white;
	background-color: rgba(255, 255, 255, 0.0);
	padding: 5px;
	border: none;
	font-size: 1.4em;
}

#main-details {
	margin-left: 50px;
}

.button-con {
	display: inline-block;
	width: 40px;
}

.temp-of-main {
	display: inline-block;
	font-size: 4.8em !important;
	margin-top: 5px;
	margin-left: 10px;
	font-family: Oswald;
}

#wind-speed {
	font-size: 1.2em;
}

#location-of-main {
	font-size: 36px;
	font-family: Oswald;
	display: inline-block;
}

.weather-icon-main {
	display: inline-block;
}

#see-hourly-btn {
	font-size: 1.4em;
	border: none;
	margin-left: 10px;
	border-radius: 5px 5px 5px 5px;
	color: white;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.5);
}

#geo-location-btn {
	font-size: 1.4em;
	border: none;
	border-radius: 5px 5px 5px 5px;
	color: white;
	padding: 5px;
	background-color: #424242;
	float: right;
	right: 0;
	position: absolute;
	top: -100px;
}

#location-search {
	padding: 5px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	border-bottom: 1px solid #777;
	font-size: 1.3em;
}

#location-input {
	border: none;
	background-color: rgba(255, 255, 255, 0);
	color: white;
	font-family: Oswald;
}

.time-of {
	float: right;
	display: inline;
	margin-right: 10px;
}
	
	

/*CT2*/
.ct2 {
	width: 100%;
	position:fixed;
	bottom:0;
	left:0;
	color: white;
	float: none;
}

#sub-details {
	color: white;
	margin: 10px;
}

.temp-of {
	display: inline-block;
	font-size: 2.5em;
	margin-top: 5px;
}

.weather-icon {
	margin-bottom: 0px;
}

.weather-col {
	height: 265px;
	background-color: rgba(255, 255, 255, 0.5);
	border-right: 2px solid #777;
}

.weather-header {
	margin: 0px;
	font-size: 18px;
}

.wi {
	font-size: 52px;
}

.color-small {
	color: #bdbdbd;
}

#day-5, #day-6, #day-7, #day-8 {
	display: none;
}

#day-8 {
	padding: 0px;
}

.overview-box canvas {
	margin-left: 40%;
}

.overview-box {
	height: 50%;
	border-right: 1px solid #777;
	border-top: 1px solid #777;
}

#right-button {
	position: absolute;
	right: 0;
	top: -135px;
	font-size: 2.5em;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	z-index: 99;
}

#left-button {
	position: absolute;
	top: -135px;
	font-size: 2.5em;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	z-index: 99;
	display: none;
}

.weather-cols {
	position:fixed;
	bottom:0;
	left:0;
	float: none;
	width: 100%;
}

#saved-locations {
	right: 0;
	position: absolute;
	top: -50px;
	padding: 10px;
	font-size: 1.4em;
	border-radius: 5px 5px 5px 5px;
	background-color: #2e7d32;
	border: none;
}

#add-city-button {
	color: white;
	font-size: 2em;
	border: none;
	background-color: rgba(255, 255, 255, 0);
	display: none;
}

#remove-city-button {
	color: #d32f2f;
	font-size: 2em;
	border: none;
	display: none;
	background-color: rgba(255, 255, 255, 0);
}

.day-of-headers {
	font-size: 30px;
}

.day-8-header {
	font-size: 14px;
}

/*CT3*/
.ct3 {
	width: 100%;
	position:fixed;
	bottom:0;
	left:0;
	background-color: rgba(66, 66, 66, 0.7);
	/*background-image: url("../Images/photo-1.jpg");*/
	background-size: cover;
	filter: blur(10px);
	height: 230px;
	z-index: -99;
	background-position: 100% 90%;
}

/*CT4*/

.ct4 {
	height: 100%;
	display: none;
	color: white;
	font-family: Oswald;
}

.location-temp {
	font-size: 4.5em;
}

.location-box-details {
	padding-left: 15px;
	padding-right: 15px;
}

.ct4 span {
	font-size: 1.5em;
}

.location-box {
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	border-right: 2px solid #777;
	padding: 0px;
	text-decoration: none;
	color: white;
	transition: 200ms;
}

.location-box:hover {
	transition: 200ms;
	background-color: rgba(119, 119, 119, 0.7);
}

.location-col {
	border-top: 2px solid black;
}

.saved-box {
	color: white;
}
	
/*.temp-button {
	border-radius: 5px 5px 5px 5px;
	background-color: #777;
	font-size: 0.9em;
	padding: 3px;
}

.high-low-details p {
	font-size: 1.3em;
}*/

.col-of {
	border-top: 2px solid #777;
	height: 90px;
}

.saved-days-col {
	position:fixed;
	bottom:0;
	left:0;
	padding-left: 0px;
	padding-right: 0px;
}

.saved-temp {
	display: inline-block;
}

.s-summary {
	font-size: 0.8em;
}

/*Media Queries*/

@media screen and (max-width: 1200px) {  
	.day-of-headers {
		font-size: 18px;
	}
	
	.weather-header {
		font-size: 15px;
	}
	
	#left-button, #right-button {
		top: -315px;
	}
	
	#left-button {
		right: 0;
	}
	
	.day-8-header {
		font-size: 12px;
	}
	
	.overview-box {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media screen and (max-width: 991px) { 
	#empty-col {
		position: absolute;
		top: 0;
		background-color: #212121;
		width: 100%;
		padding-bottom: 10px;
	}
	
	#first-loc-box {
		margin-top: 60px;
		padding-top: 30px;
	}
	
	.saved-location {
		font-size: 20px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.current-text-saved {
		display: block;
		color: #424242;
		margin-top: 5px;
	}
	
	.weather-icon-saved canvas {
		width: 42px;
		height: 42px;
	}
	
	.location-temp {
		font-size: 3em;
	}
	
	.location-box {
		height: 300px;
		border-bottom: 1px solid #777;
		padding-top: 10px;
	}
}


@media screen and (max-width: 767px) { 
	body {
		background-image: none !important;
	}
	
	.ct1 {
		height: 300px;
	}
	
	.ct2, .weather-cols {
		position: relative;
	}
	
	.ct3 {
		display: none;
	}
	
	.day-of-headers {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.weather-col {
		padding-top: 20px;
		border-top: 2px solid #777;
		border-right: none;
	}
	
	.temp-of {
		font-size: 2em;
	}
	
	.weather-col {
		height: 145px;
	}
	
	.day-of-headers {
		font-size: 18px;
		margin-bottom: 0px;
		margin-top: 0px;
	}
	
	.weather-header {
		padding-bottom: 20px;
	}
	
	.time-of {
		display: none;
	}
	
	#saved-locations {
		top: -100px;
	}
	
	.unit-of {
		background-color: #777;
		border-radius: 5px 5px 5px 5px;
		padding-right: 10px;
		padding-left: 8px;
	}
	
	#left-button, #right-button {
		display: none;
	}
	
	.weather-icon {
		display: inline-block;
	}
	
	.weather-icon canvas {
		width: 42px;
		height: 42px;
	}
	
	.weather-col:not(:last-child) { 
		display: block !important;
	}
	
	#day-8 {
		display: none !important;
	}
	
	#geo-location-btn {
		font-size: 1em;
		top: -150px;
	}
	
	#location-search {
		float: none;
	}
}

@media screen and (max-width: 550px) { 
	#location-of-main {
		font-size: 30px;
	}
	
	#main-details {
		margin-left: 20px;
	}
	
	#saved-locations {
		font-size: 0.9em;
	}
}

@media screen and (max-width: 425px) { 
	#saved-locations {
		border-radius: 5px 5px 5px 5px;
		padding: 5px;
		position: static;
		font-size: 0.9em;
	}
	
	#geo-location-btn {
		border-radius: 5px 5px 5px 5px;
		padding: 5px 10px 5px 10px;
		position: static;
		font-size: 0.9em;
		margin-top: 3px;
	}
	
	#geo-location-txt {
		display: none;
	}

	#saved-locations .fa-globe {
		display: none;
	}
	
	#todays-date {
		display: none;
	}
	
	.unit-of {
		font-size: 1.1em;
	}
	
	#see-hourly-btn {
		font-size: 0.9em;
	}
	
	.current-text {
		display: none;
	}
}

@media screen and (max-width: 340px) { 
	#geo-location-btn {
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.unit-of {
		padding-left: 5px;
		padding-right: 8px;
	}
}